<!--
	作者：zst
	时间：2017-08-09
	描述：登录之忘记密码
-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/stylesheets/mui.min.css" rel="stylesheet" />
		<link href="/stylesheets/index.css" rel="stylesheet" />
	</head>

	<body>
		<!--主页面容器-->
		<div class="mui-content-padded  contain">
			<div class="logobar">
				<img src="/images/logo.png" />
			</div>
			<!--主页面内容容器-->
			<div class="mui-col-xs-9 login">
				<!--输入框表单-->
				<form>
					<div class="mui-input-row">
						<label><img src="/images/account.png" width="25px;"></label>
						<input type="text" name="username" id="username" class="mui-input-clear" placeholder="请输入用户名" />
						<span class="mui-icon mui-icon-clear mui-hidden"></span>
					</div>
					<div class="mui-input-row">
						<label><img src="/images/邮箱.png"></label>
						<input type="text" name="email" id="email" class="mui-input-clear" placeholder="请输入邮箱" onkeyup="registervalidate()"/>
						<span class="mui-icon mui-icon-clear mui-hidden"></span>
					</div>
					<div class="mui-input-row">
						<label><img src="/images/验证码验证.png" style="width: 45px;"></label>
						<input type="text" name="ps" id="ps" placeholder="请输入验证码" />
						<button type="button" id="getpassbtn" class="vertify mui-btn mui-btn-primary">获取验证码</button>
					</div>
					<div id="new_atteninfo1"><p class="info"></p></div>
				</form>
				<!--下一步按钮-->
				<button type="button" id="surebtn" class="mui-btn mui-btn-block" style="margin-top: 25%;">确定</button>
			</div>
		</div>
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script src="/javascripts/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
			var Identify="";
			
			function registervalidate(){
		        var status=0;
		        var emailaddress = mui("#email")[0].value;
		        var szReg=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
		        if(szReg.test(emailaddress)) {
		            status=1;
		            document.getElementById("new_atteninfo1").innerHTML="";
		            document.getElementById("getpassbtn").disabled = false;
		        }
		        else {
		            document.getElementById("new_atteninfo1").innerHTML = "<font color='#FF8C69'>邮箱格式格式错误</font>";
		        }
		    }
			
			mui.ready(function(){
				document.getElementById("getpassbtn").disabled = true;
				
				mui('.login').on('tap', '#getpassbtn', function(){
					var emailaddress = mui("#email")[0].value;
					mui.ajax({
						type:"post",
						url:"/identifyCode",
						data:{
							emailaddress:emailaddress,
						},
						async:true,
						success:function(data){
							var result = eval(data).result;
							alert(result);
							Identify = result;
	//						if(result.result=='1'){}
						},
						error:function(){
							mui.alert("系统服务错误");
						}
					});
				})
				
				mui('.login').on('tap', '#surebtn', function() {
					var check = true;
					mui("#inputinfo input").each(function() {
					//若当前input为空，则alert提醒 
					if(!this.value || this.value.trim() == "") {
						var label = this.previousElementSibling;
						mui.alert("不允许为空");
						check = false;
						return false;
					}
					}); //校验通过，继续执行业务逻辑 
					if(check){
						var email = mui("#email")[0].value;
						var username = mui("#username")[0].value;
						var ps = mui("#ps")[0].value;
						if(ps!=Identify){mui.alert("验证码错误");}
						else
						{
							mui.ajax({
								type:"get",
								url:"/userForget",
								data:{
									email:email,
									username:username,
								},
								async:true,
								success:function(data){
									var result = eval(data);
									if(result.result=='1')
									    mui.openWindow('/loginSetPw');
									else if(result.result=='0')
										mui.alert("用户名或邮箱不匹配");
								},
								error:function(){
									alert("系统服务错误");
								}
							});
						}
						
					}
				})
				
			})
		</script>
	</body>

</html>