<!--
	作者：zst
	时间：2017-08-10
	描述：箱管公司个人中心
-->
<!--
	作者：anna
	时间：2018-04-10
	描述：UI优化
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="/javascripts/mui.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/mui.min.register_login.css" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</head>

	<body>
		<div class="top-bar">
			<div class="profilePhoto">
				<img src="/images/exUser.png" />
			</div>
			<br />
			<span>箱管公司 <%= username %></span>
		</div>
		<ul class="personal-content" style="margin-top:0.8rem;">
			<li class="personal-item">
				<a href="boxsearch" id="search">
					<img src="/images/search.png" /><br />集装箱查询</a>
			</li>
			<li class="personal-item">
				<a href="stateback" id="state">
					<img src="/images/case_trace.png " /><br />集装箱跟踪</a>
			</li>
		</ul>
		<ul class="personal-content" style="margin-top: -1rem; border-bottom: solid .1rem #ebebeb;">
			<li class="personal-item">
				<a href="CardAudit" id="cardAuditing">
					<img src="/images/online.png" /><br />打单审核
				</a>
			</li>
			<li class="personal-item">
				<a href="BoxAudit" id="caseAuditing">
					<img src="/images/case.png " /><br />提箱审核</a>
			</li>
		</ul>
		<ul class="personal-content">
			<li class="personal-item">
				<img src="/images/bind.png" /><br />
				<a id="shenfen" style="font-size: 8px;">
					<%= openid==null || openid=='' ? '绑定' : '解绑' %>
				</a>
			</li>
			<li class="personal-item">
				<a href="logout">
					<img src="/images/exit.png" /><br />退出
				</a>
			</li>
		</ul>
	</body>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();

		var openid = '';
		mui.ready(function() {
					mui('#search').addEventListener('tap', function() {
								mui.openWindow({
									url: 'boxsearch',
									id: 'boxsearch'
								});
							}
							mui('#state').addEventListener('tap', function() {
									mui.openWindow({
										url: 'stateback',
										id: 'stateback'
									});
								}
								mui('#cardAuditing').addEventListener('tap', function() {
										mui.openWindow({
											url: 'CardAudit',
											id: 'CardAudit'
										});
									}
									mui('#caseAuditing').addEventListener('tap', function() {
											mui.openWindow({
												url: 'BoxAudit',
												id: 'BoxAudit'
											});
										}
										var urlperson = decodeURI(location.search);
										var theRequest = new Object();
										if(urlperson.indexOf("?") != -1) {
											var str = urlperson.substr(1);
											strs = str.split("&");
											for(var i = 0; i < strs.length; i++) {
												theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
											}
											openid = theRequest['openid'];
										}
										var oDiv = document.getElementById('shenfen');
										var str = 'third?openid=';
										if(openid == 1) {
											openid = 0;
											str += openid;
											oDiv.setAttribute('href', str);
											oDiv.innerHTML = "解绑";
										} else {
											openid = 1;
											str += openid;
											oDiv.setAttribute('href', str);
											oDiv.innerHTML = "绑定";
										}
									})
	</script>

</html>