<!--
	作者：zst
	时间：2017-08-10
	描述：车队个人中心
-->
<!--
	作者：anna
	时间：2018-04-10
	描述：UI优化
-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="/javascripts/mui.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/mui.min.register_login.css" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</head>

	<body>
		<div class="top-bar">
			<div class="profilePhoto">
				<img src="/images/vehicle.png" />
			</div>
			<br />
			<span>车队 <%= username %></span>
		</div>
		<ul class="personal-content" style="margin-top:0.8rem;">
			<li class="personal-item">
				<a href="boxsearch" id="search">
					<img src="/images/search.png" /><br />集装箱查询
				</a>
			</li>
			<li class="personal-item">
				<a href="stateback" id="state">
					<img src="/images/case_trace.png " /><br />集装箱跟踪
				</a>
			</li>
		</ul>
		<ul class="personal-content" style="margin-top:-1rem; border-bottom: solid .1rem #ebebeb;">
			<li class="personal-item">
				<a href="ordercard" id="ordercard">
					<img src="/images/online.png" /><br />打单预约
				</a>
			</li>
			<li class="personal-item">
				<a href="ordercase" id="ordercase">
					<img src="/images/case.png " /><br />提箱预约
				</a>
			</li>
		</ul>
		<ul class="personal-content">
			<li class="personal-item">
				<a id="shenfen" style="font-size: 8px;"><img src="/images/bind.png" /><br /><%= openid==null || openid==''||openid=='undefined' ? '绑定' : '解绑' %></a>
			</li>
			<li class="personal-item">
				<a href="logout">
					<img src="/images/exit.png" /><br />退出
				</a>
			</li>
		</ul>
	</body>
	<script src="/javascripts/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" charset="utf-8">
		mui.init();
		var flag = 0;
		var openid = '<%= openid %>';
		/*console.log(openid)*/
		if (openid == null || openid == '' || openid == 'undefined'){
			flag = 0;
		}else{
			flag = 1;
		}
		mui.ready(function() {
			document.getElementById("search").addEventListener("tap", function(event) {
				mui.openWindow({
					url: 'boxsearch',
					id: 'boxsearch'
				});
			})
			document.getElementById("state").addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'stateback',
					id: 'stateback'
				});
			})
			document.getElementById("ordercard").addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'ordercard',
					id: 'ordercard'
				});
			})
			document.getElementById("ordercase").addEventListener('tap', function(event) {
				mui.openWindow({
					url: 'ordercase',
					id: 'ordercase'
				});
			})
			document.getElementById("shenfen").addEventListener('tap', function() {
				mui.ajax({
					type: "post",
					url: "/bindingwx",
					data: {},
					async: true,
					success: function(data) {
						var result = eval(data);
						if(result.result == 1) {
							/*console.log($('#shenfen').html() )
							console.log($('#shenfen').html().trim() === '<img src="/images/bind.png"/><br/>解绑')
							console.log(flag)*/
							if(flag == 0){
								$('#shenfen').html('<img src="/images/bind.png"/><br/>解绑');
								flag = 1;
							}
							else{
								$('#shenfen').html('<img src="/images/bind.png"/><br/>绑定');
								flag = 0;
							}
						}
					},
					error: function() {
						mui.alert(mui('#shenfen').text() + "出现错误");
					}
				});
			});
		})
	</script>

</html>