<!--
	作者：zst
	时间：2017-08-10
	描述：注册申请详情
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title><% title%></title>
    <script src="/javascripts/mui.min.js"></script>
    <link href="/stylesheets/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/base.css"/>
    <link rel="stylesheet" href="/stylesheets/registerDetail.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mui.picker.min.css"/>
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</head>
<body>
<!-- 主页面容器 -->
<div class="mui-inner-wrap">
    <!-- 主页面内容容器 -->
    <div class="mui-content mui-scroll-wrapper" style="background-color: #EFEFEF;">
        <div class="mui-scroll detailcontent" style="margin:0;width:100%;">
            <div class="detail-content-top-background">
                <p class="detail-content-username">用户名&nbsp;&nbsp;&nbsp;&nbsp;<%= UserName%></p>
            </div>
            <div class="detail-content-detailed-info">
                <div class="detail-content-item">
                    <div class="detail-content-item-line">
                        企业名称
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            企业中文名
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= NameC%>
                        </div>
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            企业英文名
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= NameE%>
                        </div>
                    </div>
                </div>
                <div class="detail-content-item">
                    <div class="detail-content-item-line">
                        企业地址
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            企业中文地址
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= Address%>
                        </div>
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            企业英文地址
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= AddressEN%>
                        </div>
                    </div>
                </div>
                <div class="detail-content-item">
                    <div class="detail-content-item-line">
                        其他信息
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            纳税号
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= TaxNo%>
                        </div>
                    </div>
                    <div class="detail-content-item-line">
                        <div class="detail-content-item-line-title">
                            企业邮箱
                        </div>
                        <div class="detail-content-item-line-content">
                            <%= Email%>
                        </div>
                    </div>
                    <div class="detail-content-item-line">
                        资质信息
                    </div>
                    <div class="detail-content-item-line images-container">
                        <div class="image-licence-container">
                            <img src="../<%- FilePath%>" alt="营业执照" class="image-licence">
                        </div>
                        <div class="image-licence-container">
                            <img src="../<%- FilePath%>" alt="营业执照" class="image-licence">
                        </div>
                        <div class="image-licence-container">
                            <img src="../<%- FilePath%>" alt="营业执照" class="image-licence">
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-content-button-group">
                <button>通过</button>
                <button>驳回</button>
            </div>
        </div>
    </div>


    <div class="mui-off-canvas-backdrop"></div>
</div>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/mui.picker.min.js"></script>
<!--<script src="/javascripts/registerDetail.js"></script>-->
<script type="text/javascript">
    mui('.mui-scroll-wrapper').scroll();
</script>
</body>
</html>