.mainBack {
	background-color: #ebebeb;
	width: window.innerWidth;
	height: window.innerHeight;
	margin: 0px;
}

.topBack {
	background-color: #0078cd;
	width: 100%;
	height: 150px;
	z-index: 9;
	text-align: center;
}

.statusText {
	color: white;
	padding-top: 20px;
}

.centerBack {
	background-color: white;
	width: 90%;
	height: 300px;
	margin: -80px 0 0 5%;
	border-radius: 5px;
	z-index: 99;
}

.guideBar {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 3px 0 3px;
}

.GuideText {
	width: 50%;
	height: 30px;
	padding-bottom: 10px;
	text-align: center;
	/*border-bottom: 3px solid #0078cd;*/
}

.GuideTextHover {
	width: 50%;
	height: 30px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 3px solid #0078cd;
}

.GuideWord {
	font-size: 1.2rem;
	color: #79797a;
}

.GuideWordHover {
	font-size: 1.2rem;
	color: #0078cd;
}

.row {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}

.rowText {
	font-size: 1rem;
	color: #79797a;
	padding: 20px 0 0 30px;
}

.btn {
	width: 70%;
	height: 25px;
	margin: 20px 0 0 20px;
	padding: 5px 5px;
	/*border: none;
	border-bottom: 1px solid #ebebeb;*/
	border: 1px solid #ebebeb;
	border-radius: 5px;
}

.description {
	width: 70%;
	height: 150px;
	margin: 15px 0 0 20px;
	padding: 5px 5px;
	/*border: none;
	border-bottom: 1px solid #ebebeb;*/
	border: 1px solid #ebebeb;
	border-radius: 5px;
}

.submitInfo {
	background-color: #0078cd;
	font-size: 1rem;
	color: white;
	width: 50%;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	margin: 20px 0 0 25%;
	border: none;
}


/*statusTrailerPickup 提箱*/

.GuideTextPickup {
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 3px solid #0078cd;
}

.centerBackPickup {
	background-color: white;
	width: 90%;
	height: 300px;
	margin: -80px 0 0 5%;
	border-radius: 5px;
	z-index: 99;
}

.rowTextPickup {
	width: 90px;
	text-align: left;
	font-size: 15px;
	color: #79797a;
	padding: 15px 0 0 20px;
}

.time {
	width: 60%;
	height: 20px;
	margin: 15px 0 0 20px;
	padding: 5px 5px;
	border: none;
}

.btnPickup {
	width: 65%;
	height: 20px;
	margin: 10px 0 0 20px;
	padding: 5px 5px;
	border: none;
}

.inputPickup {
	width: 60%;
	height: 20px;
	margin: 10px 0 0 20px;
	padding: 5px 5px;
	border: none;
}

.image-leave {
	padding: 0 0 0 20px;
}

.descriptionPickup {
	width: 65%;
	height: 100px;
	margin: 15px 0 0 20px;
	padding: 5px 5px;
	border: none;
	border-bottom: 1px solid gray;
	/*border: 1px solid gray;*/
	border-radius: 5px;
}
.cameraBtn{
	position: relative;
    left: 0rem;
    opacity:0;
    cursor: pointer;
    height: 3rem;
}
.addBtn{
    position: relative;
    opacity:0;
    cursor: pointer;
    height: 3rem;
}
.cameraBtnBackBorder {
	position: relative;
    width: 3rem;  
    border-radius: 1rem;
    float: left;
}
.AddBtnBackBorder {
	position: relative;
	width: 3rem;
	border-radius: 1rem;
	float: left;
	margin-left: 1rem;
}

.cameraBtnBack {
	position: relative;
	width: 3rem;
	height: 3rem;
	background: url('/images/camera.png');
	background-size: contain;
}

.AddBtnBack {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	background: url('/images/add.png');
	background-size: contain;
	margin: 5px 0;
}
.newImg{
    position: relative;
}
.newImgstyle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    margin: 5px 0px 0px 10px;
}